@import url('https://fonts.googleapis.com/css?family=Heebo');

html, body {
  margin: 0;
  height: 100%;
  background: url("/public/img/fondoweb.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
  font-family: "Heebo";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

a {
    text-decoration: none;
}

#logo {
    width: 200px;
    height: 35px;
    margin-top: 5%;
}

#user {
    width: 40px;
    height: 40px;
    margin-top: 20%;
    border-radius: 50%;
    border: 2px #e0004d solid;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  text-align: center;
  font-size: 1em;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(224,0,77);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#main1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "textLevel yourPoints"
    "textLevel amount";
    margin: 10% auto;
    box-shadow: 2px 2px 7px 1px #b6666f;
    background-color: rgb(237,237,237,0.75);
    width: 90%;
}
#main1 label {
  color: #b6666f;
  font-weight: bold;
  font-size: 0.8em;
}
#textLevel {
    font-size: 1em;
    color: rgb(237,237,237);
    font-weight: bold;
    width: 6em;
    height: 6em;
    border: 0.1em rgb(7,29,73) solid;
    border-radius: 50%;  
    background:#e0004d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    margin-left: 4%;
    padding:3%
}

#yourPoints {
  margin-right: 2%;
  margin-top: 40%;
}

progress[value] {
  margin-left: 98%;
  margin-top: 5%;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
}

progress[value]::-moz-progress-bar {
  background-color: white;
}

progress[value]::-webkit-progress-value {
  background-color: #071d49;
}

progress[value]::-moz-progress-value {
  background-color: #071d49;
}
.main {
  display: flex;
  flex-direction: column;
}
.slider {
  width: 90%;
  margin: 10% auto;
  overflow: hidden;
  background-color: rgb(237,237,237,0.75);
  box-shadow: 2px 2px 7px 1px #b6666f;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 10s infinite;
  animation-direction:alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 60%;
  margin: auto 20%;
}

.slider ul li {
  text-shadow: 1px 1px 1px #b6666f;
}

@keyframes cambio {
  0% {margin-left: 0;}
  40% {margin-left: 0;}
  
  45% {margin-left: -100%;}
  60% {margin-left: -100%;}

  70% {margin-left: -200%;}
  100% {margin-left: -200%;}
}

#myWallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  background-color: rgb(237,237,237,0.75);
  box-shadow: 2px 2px 7px 1px #b6666f;
  margin: auto;
  width: 90%;
}

#myWallet, p {
  text-align: center;
  color: #071d49;
  font-weight: bold;
}

#apointsAmount {
  font-size: 2.5em;
  margin-right: 2%;
  color: #e0004d;
}

#wallet {
  width: 30%;
  margin-left: 2%;
}
.student {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: auto;
  background-color: rgb(237,237,237,0.75);
  box-shadow: 2px 2px 7px 1px #b6666f;
  margin: 10% auto;
  width: 90%;
}   
#select {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: #071d49;
}
.s1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.s2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.s3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.s4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.s5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.s6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.s7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.s8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.s9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.s10 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10, p {
  text-align: center;
  color: #071d49;
}
.ContainerCenter{
display: flex;
align-items: center;
flex-direction: column;
width: 90%;
background-color: rgb(237,237,237,0.75);
box-shadow: 2px 2px 7px 1px #b6666f;
margin: 10% auto;
}
.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237,237,237,0.75);
  box-shadow: 2px 2px 7px 1px #b6666f;
  margin: 10% auto;
  width: 90%;
}
.number input {
  width: 3em;
}
.number p {
  font-size: 1em;
  font-weight: bold;
}
.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237,237,237,0.75);
  box-shadow: 2px 2px 7px 1px #b6666f;
  margin: 10% auto;
  width: 90%;
}
.why p {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1%;
}
.why button {
  margin-top: 1%;
}
#inputFoot {
  font-size: 0.5em;
  color: #e0004d;
}
input[name="Carrusel"]{display: none}

.Carrusels{
height: 300px;
width: 100%;
position: relative;
overflow-x: hidden;
}
.Carrusel{
height: 100%;
width: 100%;
position: absolute;
background-size: cover;
transition: all .5s ease;
}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}

#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}

#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}

.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
position: absolute;
height: 100%;
width: 3em;
font-weight: bolder;
align-items: center;
justify-content: center;
display: none;
user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}

#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}

.Selectors {
width: 60px;
padding: 15px;
display: flex;
justify-content: space-between;
}
.Selectors .Selector {
background-color: #FFF;
height: 10px;
width: 10px;
display: block;
border-radius: 5px;
}

#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}



@media (min-width:375px) {
}
@media (min-width: 425px) {
  .slider {
    margin-top: 7%;
  }
  .slider img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color:  #ededed;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (min-width: 780px) {
  main {
    display: grid;
    grid-template-columns: 20% 20% 10% 10% 10% 5% 5% 20% ;
    grid-template-rows: auto;
  }
  .menu {
    font-size: 0.8em;
  }
  #user {
    width: 40px;
    height: 40px;
    margin-top: 20%;
    border-radius: 50%;
    border: 2px #e0004d solid;
  }
  #logo {
    width: 200px;
    height: 35px;
    margin-top: 3%;
  }
  .top-nav {
    height: 50px;
  }
  .slider {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 95%;
    height: 300px;
    overflow: hidden;
    background-color: rgb(237,237,237,0.75);
    box-shadow: 2px 2px 7px 1px #b6666f;
    margin-left: 5%;
  }
  .slider img {
    width: 45%;
    margin: auto 28% ;
  }
  .slider p {
    margin: auto;
  }
  #main1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px 1px #b6666f;
    background-color: rgb(237,237,237,0.75);
    width: 85%;
    height: 300px;
    margin-top: 20%;
    margin-left: 1%;
  }
  #textLevel {
    font-size: 2em;
    width: 5em;
    height: 5em;
    margin: 5% auto;
    padding:3%
  }
  progress[value] {
    
    margin: 5% auto;
    width: 68%;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #yourPoints {
    font-size: 1.2em;
    margin: 20% auto 10%;
  }
  #myWallet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    width: 90%;
    height: 300px;
    margin: 0% 0% auto 9%;
  }
  #wallet {
    margin-top: 3%;
    width: 50%;
  }
  #apointsS {
    font-size: 1em;
    margin-top: auto;
  }
  #apointsAmount {
    margin: auto;
    font-size: 4em;
  }
  .ContainerCenter {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 90% ;
    height: 300px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  #user {
    width: 50px;
    height: 50px;
    margin-top: 20%;
    border-radius: 50%;
    border: 2px #e0004d solid;
  }
  #logo {
    width: 300px;
    height: 45px;
    margin-top: 3%;
  }
  .top-nav {
    height: 60px;
  }
  #main1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px 1px #b6666f;
    background-color: rgb(237,237,237,0.75);
    width: 85%;
    height: 350px;
    margin-top: 20%;
    margin-left: 1%;
  }
  #textLevel {
    font-size: 2em;
  }
  #yourPoints {
    font-size: 1.3em;
    margin-right: auto;
    margin-top: 30%;
  }
  .slider {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 95%;
    height: 350px;
    overflow: hidden;
    background-color: rgb(237,237,237,0.75);
    box-shadow: 2px 2px 7px 1px #b6666f;
    margin-left: 5%;
  }
  .slider p {
    font-size: 1.8em;
  }
  .slider img {
    width: 40%;
    margin: auto 30%;
  }
  .slider ul li {
    font-size: 0.8em;
  }
  #myWallet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    width: 90%;
    height: 350px;
    margin: 0% 0% auto 9%;
  }
  #wallet {
    margin-top: 3%;
    width: 50%;
  }
  #apointsS {
    font-size: 1em;
    margin-top: auto;
  }
  #apointsAmount {
    margin: auto;
    font-size: 4em;
  }
  .ContainerCenter {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 90% ;
    height: 350px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  #user {
    width: 50px;
    height: 50px;
    margin-top: 20%;
    border-radius: 50%;
    border: 2px #e0004d solid;
  }
  #logo {
    width: 300px;
    height: 45px;
    margin-top: 3%;
  }
  .top-nav {
    height: 60px;
  }
  #main1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px 1px #b6666f;
    background-color: rgb(237,237,237,0.75);
    width: 85%;
    height: 400px;
    margin-top: 20%;
    margin-left: 1%;
  }
  #textLevel {
    font-size: 2em;
  }
  #yourPoints {
    font-size: 1.3em;
    margin-right: auto;
    margin-top: 30%;
  }
  .slider {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 95%;
    height: 400px;
    overflow: hidden;
    background-color: rgb(237,237,237,0.75);
    box-shadow: 2px 2px 7px 1px #b6666f;
    margin-left: 5%;
  }
  .slider p {
    font-size: 1.5em;
    margin-top: -2%;
  }
  .slider img {
    width: 30%;
    margin: 6% 35%;
  }
  .slider ul li {
    font-size: 0.8em;
  }
  #myWallet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    width: 90%;
    height: 400px;
    margin: 0% 0% auto 9%;
  }
  #wallet {
    margin-top: 3%;
    width: 50%;
  }
  #apointsS {
    font-size: 1em;
    margin-top: auto;
  }
  #apointsAmount {
    margin: auto;
    font-size: 4em;
  }
  .ContainerCenter {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 90% ;
    height: 400px;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .slider {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 95%;
    height: 450px;
    overflow: hidden;
    background-color: rgb(237,237,237,0.75);
    box-shadow: 2px 2px 7px 1px #b6666f;
    margin-left: 5%;
  }
  .slider ul li {
    font-size: 0.8em;
  }
  .slider img {
    margin: auto 35%;
  }
  .slider p {
    margin: auto;
  }
  #main1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px 1px #b6666f;
    background-color: rgb(237,237,237,0.75);
    width: 85%;
    height: 450px;
    margin-top: 20%;
    margin-left: 1%;
  }
  #myWallet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    width: 90%;
    height: 450px;
    margin: 0% 0% auto 9%;
  }
  #wallet {
    margin-top: 3%;
    width: 50%;
  }
  #apointsS {
    font-size: 1em;
    margin-top: auto;
  }
  #apointsAmount {
    margin: auto;
    font-size: 4em;
  }
  .ContainerCenter {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 90% ;
    height: 450px;
    margin: auto;
  }
}
  